@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.sky-title {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 500;
    font-size: 70px;
  }